@import url("https://fonts.cdnfonts.com/css/twilio-sans-mono");

#datesn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#datesn > p {
  font-family: "Twilio Sans Mono" !important;
  min-width: 50%;
}
