* {
  box-sizing: border-box;
}

li {
  font-family: "Twilio Sans Mono", sans-serif;
}

h1 {
  color: antiquewhite;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h2,
h6 {
  color: azure;
}

#follow-next {
  color: rgb(106, 94, 78);
}

a {
  font-family: "Twilio Sans Mono" !important;
}
